{# This extends takes account of the potential theme template #}
{% extends '@MonsieurBizSyliusCmsPagePlugin/Shop/Page/show.html.twig' %}

{% block top %}
    <div style="
        text-transform: uppercase;
        line-height: 30px;
        z-index: 999;
        position:fixed;
        top:0;
        left:0;
        height: 30px;
        background-color: red;
        width: 100%;
        color: white;
        font-weight: bold;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
    ">
        <div>
            <a style="color: white;" href="{{ app.request.headers.get('referer') }}">&#x21A9; {{ 'monsieurbiz_cms_page.ui.back_to_admin' | trans }}</a>
        </div>
        <div>{{ 'monsieurbiz_cms_page.ui.banner.preview' | trans }}</div>
    </div>

    {{ parent() }}
{% endblock %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block metatags %}
    {{ parent() }}
    <meta property="og:type" content="page" />
    {% if page.metaTitle is not empty %}
        <meta property="og:title" content="{{ page.metaTitle }}"/>
    {% endif %}
    {% if page.metaDescription is not empty %}
        <meta name="description" property="og:description" content="{{ page.metaDescription }}"/>
    {% endif %}
    {% if page.metaKeywords is not empty %}
        <meta name="keywords" content="{{ page.metaKeywords }}"/>
    {% endif %}
{% endblock %}
