{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block metatags %}
    {{ parent() }}
    <meta property="og:type" content="page" />
    {% if page.metaTitle is not empty %}
        <meta property="og:title" content="{{ page.metaTitle }}"/>
    {% endif %}
    {% if page.metaDescription is not empty %}
        <meta name="description" property="og:description" content="{{ page.metaDescription }}"/>
    {% endif %}
    {% if page.metaKeywords is not empty %}
        <meta name="keywords" content="{{ page.metaKeywords }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="ui monster dividing header">{{ page.title }}</h1>
    <div>
        {{ page.content|mbiz_rich_editor_render }}
    </div>
{% endblock %}

